@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root{
  /* font-family */
  font-family:  'Lato', sans-serif;

  /* font-weigth */
  --light: 100;
  --lightmed: 300;
  --medium: 400;
  --bold: 700;
  --strong: 900;

  /* colors */

  --greenBackground:rgb(0, 46, 46);
  --greenCard: rgb(0, 31, 31);
  --greenButton: rgb(115, 192, 0);
}

*,
::after,
::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: white;
}


body{
  background-color: var(--greenBackground);
}
